@import "../../node_modules/semantic-ui-css/semantic.min.css";
@import "../../node_modules/jquery-ui/themes/base/all.css";
@import "../../node_modules/semantic-ui-calendar/dist/calendar.css";

body {
    margin-top: 70px;
}

.hidden {
    display: none !important;
}

.print-only {
    display: none !important;
}

.text-center {
    text-align: center;
}

.dynamic-table {
    td {
        vertical-align: top;
    }

    .reference-row {
        display: none;
    }
}

.main-grid {
    thead {
        th {
            text-align: center !important;

            &.holiday {
                background-color: #FF9696;
            }
        }
    }

    tbody {
        td {
            cursor: pointer;
            padding: 0.1em !important;

            &:hover {
                background-color: #EEE;
            }

            &.occupied {
                box-sizing: border-box;
                position: relative;

                div {
                    box-sizing: border-box;
                    display: block;
                    position: absolute;
                    top: 2px;
                    bottom: 2px;
                    left: 2px;
                    right: 2px;
                    padding: 2px;
                    color: #FFF;

                    .grant-name {
                        display: block;
                        font-size: 1.1em;
                    }

                    .customer-name {
                        display: block;
                        font-size: 0.8em;
                    }

                    &.red {
                        background-color: #DB2828;
                    }

                    &.orange {
                        background-color: #F2711C;
                    }

                    &.yellow {
                        background-color: #FBBD08;
                    }

                    &.olive {
                        background-color: #B5CC18;
                    }

                    &.green {
                        background-color: #21BA45;
                    }

                    &.teal {
                        background-color: #00B5AD;
                    }

                    &.blue {
                        background-color: #2185D0;
                    }

                    &.violet {
                        background-color: #6435C9;
                    }

                    &.purple {
                        background-color: #A333C8;
                    }

                    &.pink {
                        background-color: #E03997;
                    }

                    &.brown {
                        background-color: #A5673F;
                    }

                    &.grey {
                        background-color: #767676;
                    }

                    &.black {
                        background-color: #1B1C1D;
                    }
                }
            }
        }
    }

    .day-separator {
        background-color: #C2FFFE;
    }
}

.fullwidth {
    margin: auto !important;
}

table {
    .extended {
        width: 100%;

        td {
            padding: 0 !important;
        }
    }

    &.compact {
        font-size: 10px;
    }
}

.color-select {
    height: 33px;
}

.scrolling.content {
    .ui.form {
        margin-bottom: 20px;
    }
}

#new_grant {
    clear: both;
}

.basic.table {
    ul {
        margin: 0;
    }
}

/* overwrite su Semantic-UI */

.ui.form {
    input:not([type]), input[type=date], input[type=datetime-local], input[type=email], input[type=file], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url] {
        padding: 0.5em 0.8em;
    }
}

.ui.labeled.input>.label {
    font-size: 0.9em;
}

/*
    Senza questo, il dropdown di selezione delle sale da visualizzare in griglia
    non funziona
*/
.ui.fixed.table th {
    overflow: visible;
}

.ui.fixed.table td {
    white-space: nowrap;
}

.ui.horizontal.divider {
    background-color: #EEE;
    padding: 10px;
}

.ui.styled.accordion {
    width: 100%;
}

/*
    Senza queste regole, si scassano i risultati dell'autocompletamento dentro
    una accordion
*/
.ui.search {
    >.results {
        .result {
            .content {
                padding: 0.5em;
            }

            .title {
                padding: 0;
                border: none;
            }
        }
    }
}
