@page {
    size: A4 landscape;
    margin: 5mm;
}

body.printable {
    margin: 0;
    color: #000;
    font-size: 8px;
    -webkit-print-color-adjust: exact;

    .no-print {
        display: none !important;
    }

    .print-only {
        display: block !important;
    }

    h2.ui.header {
        font-size: 5px !important;
        margin: 3px !important;
    }

    .main-grid {
        thead {
            th {
                padding: 0.1em !important;
                background: #FFF !important;
                border: 1px solid #EEE !important;

                a {
                    color: #000 !important;
                }
            }
        }

        tbody {
            td {
                padding: 0 !important;
                border: 1px solid #EEE !important;
            }
        }
    }

    .page-break {
        page-break-after: always;
    }
}
